<div class="welcome-section text-center mb-5">
    <h2>Welcome back, {{user.first_name}}!</h2>
    <div id="profile-photo"></div>
</div>
<div>
    <div class="container mt-5">
        <div class="row page-contents">
            <div class="col-md-3">
                <div class="col-md-6 section" id="course-section">
                        <h3 class="text-center border rounded">{{user.first_name}}'s Courses</h3>
                        <ul>
                            {{#each user.courses}}
                            <a href="/course/{{this.id}}">
                            <li>{{this.title}}</li>
                            </a>
                            {{/each}}
                        </ul>
                        <button type="submit" id="create-course-button" class="btn btn-primary orange">Add Course</button>
                        <form id="add-course">
                            <h4 class="text-center border rounded">Add Course</h4>
                            <div class="mb-3">
                                <label for="formGroupExampleInput" class="form-label">Course Title</label>
                                <input type="title" class="form-control" id="add-course-title" name="title" placeholder="Title">
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary orange">Submit</button>
                                 <button type="cancel" id='cancel-course' class="btn btn-primary cancel-btn">Cancel</button>
                            </div>
                        </form>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <!-- Progression Section -->
                    <div class="col-md-6 section" id="progression-section">
                        <h3 class="text-center border rounded">Progression</h3>
                        <h3 class="text-center">Work in Progress</h3>
                    </div>

                    <!-- Reminders Section -->
                    <div class="col-md-6 section" id="reminders-section">
                        <h3 class="text-center border rounded">Reminders</h3>
                        <h4>Assignments:</h4>
                        <ul>
                        {{#each user.courses}}
                        {{#each this.assignments}}
                            <li>{{this.title}}</li>
                        {{/each}}
                        {{/each}}
                        </ul>
                        <!-- List of reminders can go here -->
                    </div>
                </div>
                <!-- Notes Section -->
                <div class="row mt-4">
                    <div class="col-md-12 section" id="notes-section">
                        <button class="btn btn-primary add-note-button orange ">Add Note</button>
                        <form class="note-form" style="display: none;">
                            <div class="form-group">
                                <label for="note-title">Title</label>
                                <input type="text" id="note-title" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="note-contents">Contents</label>
                                <textarea id="note-contents" class="form-control" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary orange">Save Note</button>
                            <button type="button" class="btn btn-secondary cancel-note">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/notes.js"></script>
    </div>
<script src="/js/client.js"></script>
<script src="/js/dashboard.js"></script>

